#main-header {	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2C2C2C), to(#303030));
	background: -moz-linear-gradient(19% 75% 90deg,#2C2C2C, #303030);
	background: #303030;
	position: relative;
	height: 110px;
	padding: 5px;
}

#main-header #container {
	margin: 0 auto 0 auto;
	width: 960px;
	padding-top: 5px;
}

#main-header #container h1{
	padding-top: 12px;
	padding-right: 120px;
	font: bold 30px "DroidSansBold", Verdana,sans-serif;
	color: #787871;
	text-transform: uppercase;
}
