#main-wrapper {
	margin: 0 auto 0 auto;
	width: 940px;
	padding: 10px;
	background: #eee;
}

#main-wrapper #container {
	width: 640px;
}

#navLinks {
	list-style-type: none;
	margin-left:  auto;
	margin-right:  auto;
	padding: 0;
	width: 240px;
}

#navLinks li {
	margin-left:10px;
}